<footer class="w-full bg-slate-950 text-white z-0">
    <div class="flex flex-col w-[1160px] m-auto max-xl:w-auto max-xl:px-8">
        
        <div class="flex flex-wrap w-full justify-between py-8 pb-12 gap-y-4">

            <h3 class="text-[40px] font-bold">Escríbeme.</h3>

            <div class="flex flex-wrap gap-32 gap-y-4 px-16 max-xl:px-8 max-md:px-0 max-md:gap-x-0 max-md:w-full max-md:justify-between">
                
                <a href="https://www.linkedin.com/in/douglas-ge/" class="flex items-end gap-4">
                    <div class="flex justify-center items-center bg-white rounded-full w-12 h-12">
                        <img class="w-6 h-6" src="./icon_linkedin_black.png" alt="linkedin">
                    </div>
                    <div class="flex flex-col text-[14px]">
                        <p class="text-gray-400">Linkedin</p>
                        <p>linkedin.com/in/douglas-ge/</p>
                    </div>
                </a>

                <a href="https://github.com/douglasd11" class="flex items-end gap-4">
                    <div class="flex justify-center items-center bg-white rounded-full w-12 h-12">
                        <img class="w-6 h-6" src="./icon_github_black.png" alt="linkedin">
                    </div>
                    <div class="flex flex-col text-[14px]">
                        <p class="text-gray-400">Github</p>
                        <p>github.com/douglasd11</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="flex w-full justify-between py-4 border-t border-gray-500 max-md:text-xs">
            <p class="text-left">Copyright @ 2024 todos los derechos reservados</p>
            <p class="text-right">Desarrollado con React, Astro & Tailwindcss.</p>
        </div>

    </div>
</footer>