<header class="w-[100%] border-b-0 border-slate-300">
    <div class="flex justify-between items-center py-4 w-[1160px] m-auto">
        <div class="flex items-center gap-x-4 text-base cursor-pointer">
            <img 
                class="rounded-full w-10 h-10"
                src="./logo.png" alt="Douglas logo"
            >
            <p class="max-w-20 font-extrabold leading-5 text-slate-800">DOUGLAS DESARROLLADOR</p>
        </div>
        <nav class="flex items-center gap-x-10 text-lg font-semibold pt-2 text-slate-800">
            <a href="#sobremi">Sobre mi</a>
            <a href="#proyectos">Proyectos</a>
            <a href="#educacion">Educacion</a>
            <a href="https://www.linkedin.com/in/douglas-ge/" class="pb-1" target="_blank">
                <img class="w-8 h-8" src="./icon_linkedin.png" alt="Linkedin">
            </a>
        </nav>
    </div>
</header>